@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--custom-font, Arial, Helvetica, sans-serif);
  /* background: linear-gradient(45deg, #bcaaa4, #c8e6c9); */
  /* color: var(--foreground); */
  /* background: url('/background.jpg') center/cover no-repeat fixed; */
}

.text-primary {
  color: var(--color-amber-900);
}

.text-secondary {
  color: var(--color-lime-950);
}

.bg-primary {
  background-color: var(--color-amber-900);

  &.hover-bg:hover {
    background-color: #6d2d06;
  }
}

.bg-secondary {
  background-color: var(--color-amber-50);

  &.hover-bg:hover {
    background-color: #efebdc;
  }
}

.bg-grad {
  /* background: linear-gradient(45deg, #009688, #8bc34a); */
  background-color: #c5e1a5;
}

.border-primary {
  border-color: var(--color-amber-900);

  &.focus-border:focus {
    /* border-color: var(--color-black); */
    border-color: #421b05;
  }
}
